/****** index.html ******/

/*** Hintergrundbild ***/
.backgroundimg {
    background-image: url(http://durv.de/templates/joomspirit_107/images/background/regattabahn.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

/*** Navbar ***/
.navbarfixed {
    position: fixed;
}



/*** Headline ***/
.headlinesite {
    padding-left: 8rem;
}

/*** Subheadlines ***/
.subheadline {
    font-size: 2.75rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #5cb85c;
}






/****** Sportangebote.html ******/

/*** 2. Navbar ***/
.sportnavheadline {
    padding-left: 5rem;
}
.sportnav {
    padding-left: 8rem;
}

/*** 2. Navbar border-top ***/
.sportnavbord {
    border-top: 1px solid #5cb85c; 
}



        /****** Kinderrudern.html ******/
        
        /*** Auswahl Navbar sichtbar ***/
        .sportnavact {
            border-bottom: 3px solid #5cb85c;
        }




/****** Kontaktformular *****/

/*** center ***/

.contactcenter {
    object-position: center;
}

/*** Farbige Eingabe ***/

.form-control {
    background-image: linear-gradient(#5cb85c, #5cb85a), linear-gradient(rgb(210, 210, 210), rgb(211, 211, 211));
    background-size: 0 2px, 100% 1px;
    background-color: transparent;
    float: none;
    font-weight: 400;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    background-repeat: no-repeat;
    background-position: left bottom, center calc(100% - 1px);
    transition: background 0.3s ease-out;
    border-radius: 0;
    line-height: 1.42;
    font-size: 14px;
    padding: 7px 0;
}

.form-control:focus {
    background-image: linear-gradient(#5cb85c, #5cb85a), linear-gradient(rgb(210, 210, 210), rgb(211, 211, 211));
    background-size: 100% 2px, 100% 1px;
    background-color: transparent;
    box-shadow: none;
    transition-duration: 0.3;
    outline: none;
    
}
